# Server
PORT=4000
NODE_ENV=production

# Database (PostgreSQL Connection String)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/app?schema=public"

# Hasura Configuration
HASURA_METADATA_URL=http://localhost:8080/v1/metadata
HASURA_ADMIN_SECRET=hasura-secret
HASURA_REMOTE_SCHEMA_NAME=travel_server
HASURA_GRAPHQL_REMOTE_URL=http://host.docker.internal:4000/
HASURA_SOURCE_NAME=travel

# Duffel Flights API (Test Sandbox)
DUFFEL_API_TOKEN="duffel_test_5GfYmR0qtWUPVzYi1lKG10fGobQqc4SzruOjjlX8Tn3"
DUFFEL_API_URL="https://api.duffel.com"

# JWT RSA Keys (Optional if keys/ folder is present, required in cloud environments like Vercel)
# JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
# JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
